@import "~bootstrap/scss/bootstrap";

/* ---- Variables ---- */
$color-yellowBg: #FDBE34;
$color-greenLBg: #57C09E;
$color-purpleBg: #875AA6;
$color-purpleBg2: #A05FA6;
$color-violetBg: #C44B9C;
$color-grayBg: #B9B8BC;
$color-grayLBg: #E4E9E6;
$color-grayLgBg2: #DCDCDE;
$color-grayHeaderBg: #F3F2F2;
$color-grayDarkBg: #5C5B5D;
$color-yellowO: rgba(246, 177, 0, .5);
$color-grayMenu: #B9B8BC;

$color-white: #FFFFFF;
$color-yellowText: #FDBE34;
$color-yellowText2: #F6B100;
$color-orangeText: #F15A36;
$color-redText: #EF4627;
$color-grayIcon: #AEAEB1;
$color-grayDarkText: #5F5F63;
$color-grayDark: #231F20;
$color-green: #AEC81B;

$color-orangeBtn: #F15A36;
$color-greenBtn: #64BC45;

/* Fonts */
@font-face {
  font-family: Tungsten-Black;
  src: url('../fonts/Tungsten\ Rounded\ Black.otf');
}
@font-face {
  font-family: Tungsten-Bold;
  src: url('../fonts/Tungsten\ Rounded\ Bold.otf');
}
@font-face {
  font-family: Tungsten-SemiBold;
  src: url('../fonts/Tungsten\ Rounded\ SemiBold.otf');
}
@font-face {
  font-family: Tungsten-Medium;
  src: url('../fonts/Tungsten\ Rounded\ Medium.otf');
}
@font-face {
  font-family: Tungsten-Book;
  src: url('../fonts/Tungsten\ Rounded\ Book.otf');
}
@font-face {
  font-family: Tungsten-Light;
  src: url('../fonts/Tungsten\ Rounded\ Light.otf');
}
/* bg-color */
.gb-gray {
  background-color: $color-grayLBg;
}
.gb-grayDark {
  background-color: $color-grayDarkBg;
}
.bg-grayL {
  background-color: $color-grayLgBg2;
}

/* --- Estilos para textos --- */
.text-yellow {
  color: $color-yellowText;
}
.text-yellow2 {
  color: $color-yellowText2;
}
.font-SemiBold {
  font-family: Tungsten-SemiBold !important;
}

.p-menu {
  margin: 0 auto;
  padding: 0;
  font-size: 2.4rem;
  line-height: 1.4;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  font-family: Tungsten-SemiBold;
  @media (max-width:767px) {

  }
}
.super-title {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 3px;
  font-family: Tungsten-Bold;
  margin: 0;
  @media (max-width:767px) {
    font-size: 3rem;
  }
}
.p-principal {
  margin: 0 auto;
  padding: 0;
  font-size: 1.9rem;
  line-height: 1.1;
  letter-spacing: 1.5px;
  font-family: Tungsten-Medium;
  span {
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Tungsten-SemiBold;
  }
  @media (max-width:767px) {
    font-size: 1.5rem;
    span {
      font-size: 1.6rem;
    }
  }
}
.title_socio {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-SemiBold;
  span {
    display: block;
    line-height: .8;
    font-size: 6.8rem;
    font-family: Tungsten-SemiBold;
  }
}
.p-product {
  margin: 0 auto;
  padding: 0;
  font-size: 1.8rem;
  line-height: 1.2;
  letter-spacing: 1.5px;
  font-family: Tungsten-Book;
  span {
    color: $color-orangeText;
    font-family: Tungsten-Bold;
  }
}
.p-dark {
  color: $color-grayDarkText;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-Medium;
  span {
    font-family: Tungsten-Bold;
  }
}
.p-circle {
  color: $color-orangeText;
  margin: 0;
  padding: 0;
  font-size: 2.6rem;
  line-height: 1;
  letter-spacing: 3px;
  font-family: Tungsten-Bold;
  span {
    font-family: Tungsten-SemiBold;

  }
}
.title_peludo {
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-SemiBold;
  span {
    line-height: .8;
    font-size: 6.8rem;
  }
}
.subtitle_peludo {
  margin: 0;
  font-size: 4.1rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: Tungsten-SemiBold;
}
.p_peludo {
  margin: 0;
  padding: 0;
  font-size: 2.9rem;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 2px;
  font-family: Tungsten-Medium;
}
.title_contact {
  font-size: 3.3rem;
  line-height: 1.4;
  letter-spacing: 1px;
  font-family: Tungsten-SemiBold;
  span {
    display: block;
    line-height: .8;
    font-size: 4.4rem;
    font-family: Tungsten-SemiBold;
  }
}
.subtitle_contact {
  font-size: 2.4rem;
  letter-spacing: 1px;
  line-height: 1;
  font-family: Tungsten-SemiBold;
  span {
    display: block;
    line-height: .8;
    font-size: 2.5rem;
    font-family: Tungsten-Bold;
  }
}
.p-nota{ 
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 1px;
  font-family: Tungsten-Book;
  span {
    letter-spacing: 1px;
    font-family: Tungsten-Black;

  }
}
.p_contacto {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Tungsten-Book;
}
.title_footer {
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-family: Tungsten-Medium;
}
.p-footer {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1;
  font-family: Tungsten-SemiBold;
}
.title_hola {
  font-size: 5.5rem;
  letter-spacing: 3px;
  font-family: Tungsten-Bold;
  span {
    font-size: 5rem;
    font-family: Tungsten-Medium;
    display: block;
  }
}
.title_text {
  font-size: 3.3rem;
  letter-spacing: 3px;
  font-family: Tungsten-Medium;
}
.p-text {
  font-size: 2.5rem;
  letter-spacing: 3px;
  line-height: 1;
  font-family: Tungsten-Book;
}
.title_info {
  font-size: 2.8rem;
  line-height: 1.1;
  letter-spacing: 2px;
  font-family: Tungsten-Book;
}
.p-info {
  font-size: 4.1rem;
  letter-spacing: 3px;
  line-height: 1;
  font-family: Tungsten-Bold;
}
.title_tabla {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  letter-spacing: 3px;
  line-height: 1;
  font-family: Tungsten-SemiBold;
  text-transform: uppercase;
}
.p-tableI {
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 1;
  font-family: Tungsten-Book;
}
.p-tableD {
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: Tungsten-Bold;
}


/* ---- Btns ---- */
.btnOrange_sm {
  margin: 1rem auto;
  width: fit-content;
  padding: .1rem 1.5rem .3rem;
  background-color: $color-orangeBtn;
  border-radius: .7rem;
  .text_btnO{
    color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.9rem;
    text-align: center;
    line-height: 1;
    letter-spacing: 2px;
    font-family: Tungsten-Light;
  }
}
.btnOrange_lg {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 75%;
  padding: .2rem 0;
  background-color: $color-orangeBtn;
  border-radius: .9rem;
  .text_btnO{
    color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }
}
.btnGreen_xl {
  width: fit-content;
  margin: auto;
  padding: 0 5rem;
  background-color: $color-greenBtn;
  border-radius: .9rem;
  border: 3px solid $color-white;
  .text_btnO{
    color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }
}
.btnGreen_sm {
  width: fit-content;
  margin: auto auto 6rem;
  padding: .2rem 2.5rem;
  background-color: $color-greenBtn;
  border-radius: .9rem;
  border: 3px solid $color-white;
  .text_btnO{
    color: $color-white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.9rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 3px;
    font-family: Tungsten-SemiBold;
  }
}
.btnGreen_sm, .btnGreen_xl, .btnOrange_lg, .btnOrange_sm {
  a {
    color: $color-white;
    text-decoration: none;
  }
}
/* ------------------------- */

.content {
  width: 100%;
  margin-top: 7rem;
  
  .section {
    margin: 0 1rem;
    .vh-50 {
      width: 100%;
      height: 70vh;
    }
  }
  @media (max-width:767px) {
    margin-top: 0rem;
    .section {
      margin: 0;
      .vh-50 {
        height: 100vh;
      }
    }
  }

  .content-Menu {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    /*  Nav  */
    .container-navmenu {
      background-color: $color-grayHeaderBg;
      padding: 0 5rem;
      z-index: 2;
      nav {
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .logo_center {
        text-align: center;
        img {
          width: 55%;
          margin: auto;
        }
      }
      .icon_menu {
        font-size: 3.5rem;
        color: $color-grayMenu;
      }
      .social_media {
        .icon {
          font-size: 3rem;
          padding-right: .5rem;
        }
        a {
          color: $color-grayIcon;
        }
      }
    }
    .curved::after {
      content: '';
      position: absolute;
      bottom: 30px;
      left: -10px;
      width: 70%;
      height: 70%;
      background-color: #000;
      transform-origin: right;
      transform: skewY(-3deg);
      filter: blur(10px);
      opacity: 0.3;
      z-index: 1;
    }
    .curved::before {
      content: '';
      position: absolute;
      bottom: 30px;
      right: -1px;
      width: 70%;
      height: 70%;
      background-color: #000;
      transform-origin: left;
      transform: skewY(3deg);
      filter: blur(10px);
      opacity: 0.3;
      z-index: 1;
    }

    /* Menu Modal */
    .container-modal {
      background-color: transparent;
      text-align: center;
      position: absolute;
      top: 7rem;
      z-index: 10;
      .content_menu {
        width: 55%;
        padding: 1.5rem 0;
        margin: auto;
        background-color: $color-yellowText2;
        .content_ul {
          margin: 0;
          padding: 0;
          a {
            color: $color-white;
          }
        }
      }
    }
    .display-block {
      display: block;
    }
    .display-none {
      display: none;
    }
    @media (max-width:767px) {
      width: auto;
      position: relative;
      .container-navmenu {
        padding: 0 1rem;
        // width:fit-content;
        nav {
          height: 5rem;
        }
        .logo_center {
          img {
            width: 11rem;
          }
        }
        .icon_menu {
          font-size: 1.5rem;
        }
        .social_media {
          .icon {
            font-size: 1.5rem;
            padding-right: .2rem;
          }
        }
      }
      .curved::after {
        bottom: 20px;
        left: -16px;
        width: 50%;
        height: 50%;
        transform: skewY(-8deg);
      }
      .curved::before {
        bottom: 20px;
        right: -1px;
        width: 50%;
        height: 50%;
        transform: skewY(8deg);
      }

      /* Menu Modal */
      .container-modal {
        top: 5rem;
        .content_menu {
          width:100%;
        }
      }
    }
  }

  .content_info {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    height: inherit;
    @media (max-width:767px) {
      padding-top: 0;
      align-items: center;
      grid-template-columns: 1fr;
    }
    .content_text {
      color: $color-white;
      text-align: center;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width:767px) {
        padding: 0 1rem;
      }
    }
  }
  .section #qr{
    background-color: $color-yellowBg;
    background-image: url('../images/vector-rectangulo.png'), url('../images/vector-rectangulo2.png');
    background-position: left -.05cm top, right top;
    background-repeat: no-repeat;
    background-size: 13%, 11%;
    .img_left {
      position: relative;
      img {
        width: 82%;
        position: absolute;
        right: -2rem;
        bottom: 3rem;
      }
    }
    .img_center {
      width: 50%;
    }
    .img_right {
      position: relative;
      img{
        width: 105%;
        position: absolute;
        left: -8rem;
        bottom: 4.5rem;   
      }
    }
    @media (max-width:767px) {
      background-position: left top, right bottom;
      background-size: 35%, 28%;
      .img_left {
        display: none;
      }
      .img_center {
        width: 55%;
      }
      .img_right {
        display: none;
      }
    }
  }
  .section #premios{
    background-color: $color-greenLBg;
    background-image: url('../images/vector-bones.png'), url('../images/vector-bones2.png');
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: 14%, 14%;
    position: relative;
    .content_info {
      .content_text{
        width: 80% !important;
        margin: auto;
        justify-content: space-around !important;
        .p-principal {
          width: 50%;
        }
      }
    }
    .img_left {
      position: relative;
      height: inherit;
      img {
        width: 112%;
        position: absolute;
        right: -7rem;
        bottom: calc(50% - 10rem);
      }
    }
    .img_right {
      position: relative;
      img{
        width: 90%;
        position: absolute;
        left: -2rem;
        bottom: 0;
      }
    }
    @media (max-width:767px) {
      background-position: left top, right bottom;
      background-size: 40%, 35%;
      .content_info {
        .content_text{
          width: 100% !important;
          justify-content: space-evenly !important;
          .p-principal {
            width: 50%;
          }
        }
      }
      .img_left {
        display: none;
      }
      .img_right {
        display: none;
      }
    }
  }
  .section #mayores{
    background-color: $color-purpleBg;
    background-image: url('../images/vector-circle.png'), url('../images/vector-circle2.png');
    background-position: left -1.5cm top 1.5cm, right -.05cm top .5cm;
    background-repeat: no-repeat;
    background-size: 12%, 20%;
    position: relative;
    .content_info {
      .content_text {
        width: 100% !important;
        margin: auto;
        justify-content: space-around !important;
        .super-title {
          width: 80%;
          margin: auto;
        }
      }
    }
    .img_left {
      position: relative;
      height: inherit;
      img {
        width: 120%;
        position: absolute;
        right: -8rem;
        bottom: 4rem;
      }
    }
    .img_right {
      position: relative;
      img{
        width: 70%;
        position: absolute;
        left: -3rem;
        bottom: 3.4rem;
      }
    }
    @media (max-width:767px) {
      background-position: left -1.5cm top 1.5cm, right -1cm top .5cm;
      background-position: left top, right bottom;
      background-size: 38%, 45%;
      .content_info {
        .content_text{
          justify-content: space-evenly !important;
          .p-principal {
            width: 100%;
          }
        }
      }
      .img_left {
        display: none;
      }
      .img_right {
        display: none;
      }
    }
  }
  .section #socios{
    height: 76vh;
    background-color: $color-white;
    .content_info {
      padding-top: 0;
      grid-template-columns: repeat(2, 1fr);
      .content_text {
        width: 60%;
      }
    }
    .img_left {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 3.5rem;
      img {
        width: 63%;
      }
    }
  }

  /* ---- Sección gris de productos ---- */
  .content_producto {
    width: 60%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img_center {
      width: 100%;
      height: calc(100% - 12rem);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img{
        width: 40%;
        margin-bottom: 2rem;
      }
      img#bones {
        width: 70%;
        margin-bottom: 0rem;
      }
      img#carnaza {
        width: 32%;
        margin-bottom: 1rem;
      }
      img#pollo {
        width: 75%;
        margin-bottom: 1rem;
      }
      img#colageno {
        width: 60%;
        margin-bottom: 1rem;
      }
    }
    .content_text {
      width: 90%;
      height: 12rem;
      text-align: center;
      color: $color-grayDarkText;
      .p-product {
        padding-bottom: .2rem;
        line-height: 1.1 !important;
      }
      .span_block { 
        span {
          display: block !important;
        }
      }
    }
  }
  .reset_width .content_producto {
    width: 61% !important;
    .content_text {
      width: 100% !important;
    }
  }
  .contentBtn {
    padding: 12rem 0 1rem;
  }

  /* Seccion placa */
  .container-placa {
    height: inherit;
    overflow: hidden;
    .content_placa {
      padding-top: 8rem;
      padding-bottom: 3rem;
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      z-index: 5;
      .img_left {
        width: fit-content;
        padding-top: 1rem;
        img {
          width: 74%;
        }
      }
      .content_center {
        position: relative;
        width: 100%;
        .content_text {
          position: relative;
          color: $color-white;
          left: -4rem;
          .img_up {
            width: 100%;
            height: 20rem;
            position: relative;
            margin-bottom: 3rem;
            img {
              position: absolute;
              left: -6rem;
              top: -5rem;
              width: 85%;
            }
          }
          #medalla-qr {
            margin-bottom: 0;
            height: 20rem;
            img{
              position: absolute;
              top: 2rem;
              left: 5.5rem;
              width: 45%;
            }
          }
        }
      }
      .shape-text {
        width: 50%;
        height: 24rem;
        background-image: url('../images/cuadro-verde.png');
        background-position: bottom right ;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        .content_ul {
          position: absolute;
          top: .8rem;
          padding: 2rem 3rem 2rem 3rem;
          width: 100%;
          li {
            list-style-type: '-';
            &:last-child {
              list-style-type: none;
            }
          }
        }
      }
    }
    #shape-green.content_placa {
      padding-top: 0rem;
      padding-bottom: 3rem;
    }
    .content_circleDog {
      position: relative;
      display: grid;
      padding-bottom: 2rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      .content_img {
        width: fit-content;
        position: relative;
        .p-circle {
          text-align: center;
          width: 58%;
          padding-top: 1.5rem;
          padding-left: 1.5rem;
        }
        .img_center {
          position: relative;
          top: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          z-index: 2;
        }
        img {
          width: 60%;
        }
        #circle-dog {
          display: flex;
          align-items: flex-end;
          padding-right: 1rem;
        }
        #circle-qr {
          padding-left: 4rem;
        }
      }
    }
  }
  .shape {
    position: absolute;
    top: 5rem;
    border-bottom: 99vw solid $color-yellowBg;
    border-left: 18rem solid transparent;
    border-right: 18rem solid transparent;
    height: 100vh;
    width: 100%;
    transform: rotate(-90deg);
    z-index: 1;
  }
  .shape:before {
    content: "";
    position: absolute;
    top: calc(100vw - 30rem);
    left: -42rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 51rem 16rem 0;
    border-color: transparent #E4E9E6 transparent transparent;
    transform: rotate(86deg);
    z-index: 0;
  }
  
  /*  Sección verde */
  .container-peludo {
    height: inherit;
    overflow-x: clip;
    .content-title {
      z-index: 5;
      .content_text {
        padding: 10rem 0 4rem;
        color: $color-white;
        .title_peludo {
          width: min-content;
        }
      }
    }
    .content-gridImg {
      display: grid;
      padding-bottom: 2rem;
      grid-template-columns: repeat(3, 1fr);
      align-items: flex-end;
      .img_grid {
        position: relative;
        height: 30rem;
        width: 100%;
        img {
          width: 95%;
        }
        #img_left {
          position: absolute;
          top: 0;
          right: -9rem;
        }
        #img_right {
          position: absolute;
          bottom: 2rem;
          left: -6rem;
          width: 85%;
        }
      }
    }
  }
  .content-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .content_text {
      width: inherit;
      padding-bottom: 4rem;
      text-align: center;
      margin: auto;
      color: $color-white;
      .p_peludo {
        width: inherit;
        margin: auto;
      }
    }
  }
  .shape-paralelo {
    position: absolute;
    top: -10rem;
    width: 100%;
    height: 185vh;
    margin: 10rem 0;
    transform: skewY(10deg);
    background: $color-greenLBg;
    z-index: 0;
  }

  /*  Sección Morado  */
  .container-fortaleza {
    height: inherit;
    overflow-x: clip;
    padding: 0 0 7rem 0;
    .content-title {
      z-index: 5;
      .content_text {
        padding: 14rem 0 4rem;
        color: $color-white;
        .title_peludo {
          width: 40%;
          margin: auto;
        }
      }
    }
    .content-img {
      display: grid;
      padding-bottom: 10rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-end;
      // position: relative;
      .img_grid {
        position: relative;
        width: 100%;
        height: 28rem;
        #img_dogs {
          position: absolute;
          right: -8.5rem;
        }
        #img_bag {
          position: absolute;
          left: 1.2rem;
          bottom: -6rem;
          width: 54%;
        }
      }
    }
  }
  .shape-paraleloPurple {
    position: absolute;
    top: -6rem;
    width: 100%;
    height: 220vh;
    margin: 10rem 0;
    transform: skewY(10deg);
    background: $color-purpleBg;
    z-index: 0;
  }

  /* Contacto  */
  .container-contact {
    overflow: hidden;
    height: auto;
    width: 100%;
    z-index: 2;
    padding: 4rem 0;
    background: $color-grayLBg;
    .content-title {
      padding-bottom: 2rem;
    }
    .content-gridForm {
      display: grid;
      padding-bottom: 4rem;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      .content_form {
        .form-control {
          height: auto;
        }
        input, textarea, button {
          border: 2px solid $color-yellowText2;
          border-radius: 0;
          background-color: transparent;
          font-family: Tungsten-Medium;
          font-size: 1.5rem;
          letter-spacing: .5px;
          &:focus {
            box-shadow: 0 0 0 0.2rem $color-yellowO;
          }
        }
        input, textarea {
          padding-bottom: 0;
          padding-left: 1.5rem;
          padding-top: 0;
        }
        button {
          width: 100%;
          background-color: $color-yellowText2;
        }
      }
      .content_text {
        padding-left: 4rem;
        .subtitle_contact {
          color: $color-grayDarkText;
          padding-bottom: 1rem;
        }
        .content_data {
          flex-direction: column;
          padding-bottom: 2rem;
          .p_contacto, a {
            color: $color-grayDarkText;
          }
        }
        .social_media {
          display: flex;
          flex-wrap: wrap;
          width: 40%;
          // height: 3.5rem;
          .icon{
            font-size: 3.5rem;
            padding: 0;
            width: fit-content;
            line-height: 1;
            margin-right: 1.1rem;
            margin-bottom: .5rem;
          }
          .icon, a {
            color: $color-grayBg;
            cursor: pointer;
          }
        }
      }
    }
    .container_nota {
      color: $color-redText;
      .p-nota {
        text-align: left;
      }
    }
  }


  /*   Footer   */
  .container-footer {
    background-color: $color-grayDarkText;
    padding-top: 1.5rem ;
    color: $color-white;
    text-align: center;
    .content-p {
      width: 100%;
      .footer-nav {
        color: $color-grayDark;
        padding-bottom: 2rem;
        ul {
          margin: 0;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          .p-footer {
            width: 4rem;
            display: inline-block;
          }
          li:last-child {
            width: 7rem !important;
            margin: 0 .4rem;
          }
          a {
            color: $color-grayDark;
          }
        }
      }
    }
  }

}

#indentificacion.content  {
  background-color: $color-grayLgBg2;
  margin: 0;
  background-image: url('../images/bg_patitas.png');
  /*  Indentificación  */
  .second_page {
    width: 50%;
    left: calc(50% - 384px) !important;
    .container-modal {
      left: calc(50% - 384px);
      .content_menu {
        width: 76%;
      }
    }
    .container-navmenu {
      z-index: 2;
    }
    .curved::after {
      content: '';
      position: absolute;
      bottom: 20px;
      left: 5px;
      width: 70%;
      height: 70%;
      background-color: #000;
      transform-origin: right;
      transform: skewY(-3deg);
      filter: blur(10px);
      opacity: 0.4;
      z-index: 1;
    }
    .curved::before {
      content: '';
      position: absolute;
      bottom: 20px;
      right: -5px;
      width: 70%;
      height: 70%;
      background-color: #000;
      transform-origin: left;
      transform: skewY(3deg);
      filter: blur(10px);
      opacity: 0.4;
      z-index: 1;
    }
  }

/* Seccion Hola */
  .container_hola {
    margin-top: 8.5rem;
    height: inherit;
    margin-bottom: 5rem;
    text-align: center;
    color: $color-yellowText2;
    .card_foto {
      width: 30%;
      height: 22.5rem;
      margin: 1rem auto 2rem;
      border-radius: 2rem;
      background-color: $color-violetBg;
      position: relative;
      .placeholder_foto {
        padding: 2rem 0;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $color-white;
        font-weight: lighter;
      }
      .fixed_wapp {
        position: absolute;
        top: 4rem;
        right: -12rem;
        background-color: #00AA51;
        padding: .4rem;
        border-radius: .8rem;
        img {
          width: 2.8rem;
        }
      }
    }
    .p-text {
      width: 80%;
      margin: auto;
      color: $color-grayDark;
    }

  }

  /* Seccion Info Mascota */
  .container_info {
    height: inherit;
    overflow: hidden;
    .circle_foto {
      background-color: $color-violetBg;
      border-radius: 100%;
      margin: 6rem auto 6rem;
      position: relative;
      width: 18rem;
      height: 18rem;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      .placeholder_foto {
        padding: 0;
        margin: 0;
        text-align: center;
        color: $color-white;
        font-size: 1.9rem;
        text-transform: uppercase;
      }
    }
    #foto3 {
      margin-top: 10rem;
    }
    .content_infoPerrito {
      position: relative;
      z-index: 4;
      .title_info, .p-info {
        width: 50%;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
        color: $color-grayDarkText;
      }
      .p-info {
        margin-bottom: 8rem;
      }
      #description {
        position: absolute;
        right: -7rem;
        top: 7rem;
        z-index: 3;
        display: flex;
        align-items: center;
        p {
          text-align: center;
          color: #A7282C;
          font-size: 1.3rem;
          line-height: 1.2;
          letter-spacing: .5px;
          font-family: Tungsten-Book;
        }
        img {
          height: 20rem;
        }
      }
    }
    .shapeI {
      position: absolute;
      top: 5rem;
      border-bottom: 99vw solid $color-yellowText;
      border-left: 18rem solid transparent;
      border-right: 18rem solid transparent;
      height: 100vh;
      width: 100%;
      transform: rotate(-90deg);
      z-index: 1;
    }
  }
  .container_tables {
    height:inherit;
    margin-bottom: 8rem;
    .table_vacunas {
      margin-top: 7rem;
      margin-bottom: 4rem;
      .content_table {
        margin: auto;
        width: 40rem;
        background-color: $color-white;
        text-align: center;
        td {
          padding: .5rem 2rem;
          border: 3px solid $color-purpleBg2;
          font-size: 2rem;
          letter-spacing: 1px;
          font-family: Tungsten-SemiBold;
          &:nth-last-child(1){
            text-align: left;
          }
        }
        th {
          border: 3px solid $color-purpleBg2;
          background-color: $color-purpleBg2;
          color: $color-white;
          font-size: 2.5rem;
          letter-spacing: 3px;
          text-transform: uppercase;
          font-family: Tungsten-Book;
          position: relative;
          span {
            position: absolute;
            left: 1rem;
            top: 0;
            img {
              width: 75%;
            }
          }
          &:first-child {
            width: 75%;
          }
        }
        #date {
          text-align: left;
          padding-left: 2rem;
          color: $color-grayDark;
        }
      }
    }
    .content_box {
      width: 56%;
      margin: 6rem auto 1rem;
      overflow: hidden;
      .header {
        display: flex;
        background-color: $color-purpleBg2;
        color: $color-white;
        padding: .8rem 2rem;
        span {
          position:relative;
          padding-right: 8rem;
          img#casa {
            position: absolute;
            top: -4px;
            left: -.7rem;
            width: 4rem;
          }
          img#dog {
            position: absolute;
            top: -6px;
            left: -.7rem;
            width: 3.4rem;
          }
          img#corazon {
            position: absolute;
            top: -5px;
            left: -.7rem;
            width: 3.2rem;
          }
        }
      }
      .p-tableI {
        padding: .5rem .5rem; 
        text-align: justify;
      }
      .p-tableI, .p-tableD, a {
        color: $color-grayDarkText;
      }
      .p-tableD {
        text-align:center;
        padding: 1rem 0;
        a {
          padding: 0 1rem;
        }
      }
      .content_map {
        height: 50rem;
      }
      .wp_mapa {
        width:56% !important;
        height: 40rem !important;
        margin:auto !important;
      }
    }
  }
  
}

